* {box-sizing: border-box;}

html, body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: @color-monokai-black;
    color: @color-wp-snow;
    font-size: @font-default-size;
    font-family: @font-family-default;
}

a {
    color: @color-monokai-orange;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}

a:hover {opacity: .85;}

#WPApplication {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}