@color-monokai-black: #272822;
@color-monokai-cyan: #66d9ef;
@color-monokai-magenta: #f92672;
@color-monokai-lime: #a6e22e;
@color-monokai-orange: #fd971f;

@color-wp-black: #292929;
@color-wp-snow: #fffefe;
@color-wp-smoke: #efefef;

@color-full-black: #000000;
@color-full-white: #ffffff;

@font-family-default: Roboto, Arial, Helvetica, sans-serif;
@font-family-console: Consolas, 'Courier New', Courier, monospace;

@font-default-size: 13px;

@import "MainPage.less";
@import "SiteHeader.less";
@import "SiteNavigation.less";
@import "SiteMainPanel.less";
@import "PlayerWindow.less";
@import "SiteFooter.less";