footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 3*@font-default-size;
    background-color: @color-wp-black;
    font-size: .8*@font-default-size;
}