header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 4*@font-default-size;
    width: 100%;
    background-color: @color-monokai-orange;

    & > h1 {
        padding: 0;
        margin: 0;
        font-size: 2.25*@font-default-size;
        line-height: 4*@font-default-size;
        font-weight: 300;
    }
}