nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 2*@font-default-size;
    padding: 0 @font-default-size;
    line-height: 2*@font-default-size;
    background-color: @color-wp-black;

    a, ul, ul li, ul li a {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    ul, ul li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    ul li a {
        padding: 0 @font-default-size;
    }
}